*{
    margin: 0;
    padding: 0;
}
.contain{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.casio{
    background: #3a4452;
    padding:20px;
    border-radius: 10px;
}
.casio form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;

    background: transparent;
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin:10px;
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
}